name: ci

on: [ pull_request, push ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    strategy:
      matrix:
        channel: [ stable, nightly ]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
            components: clippy rustfmt
      - name: Install EGL & Wayland
        run: |
          pacman -Syu --noconfirm base-devel libglvnd wayland
      - name: Cargo build
        run: cargo build --features "static dynamic" --all-targets
      - name: Run load-minimal
        run: cargo run --example load-minimal --features "dynamic 1_4"
      - name: Cargo clippy static
        run: cargo clippy --features="static"
      - name: Cargo clippy dynamic
        run: cargo clippy --features="dynamic"
  android_build:
    name: Android Stable
    runs-on: ubuntu-latest
    env:
      TARGET: aarch64-linux-android
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
            components: clippy rustfmt
      - run: echo "$ANDROID_HOME/ndk-bundle/toolchains/llvm/prebuilt/linux-x86_64/bin" >> $GITHUB_PATH
      - name: Prepare Rust
        run: rustup target add ${{ env.TARGET }}
      - run: cargo build --features "dynamic 1_4" --target ${{ env.TARGET }}
